{{extend 'layout.html'}}

{{block head}}
<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <style>
        #image {
            position: relative;
            left: 500px;
            bottom:100px;
        }


    </style>
</head>

<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script>
    var listings_url= "{{=URL('get_listings')}}";
    var del_listing_url = "{{=URL('del_listing', user_signature=True)}}";
</script>
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>


{{end}}


{{if auth.user_id:}}

    <div class=" text-right">
        <a href="{{=URL('default', 'add')}}" class="btn btn-warning">
            <i class="fa fa-plus"></i> New
        </a>
    </div>

{{else:}}
    Please login to make a new listing!

    <div class="text-right">
        <a href="{{=URL('default', 'user', args=['login'])}}" class="btn btn-warning">Log In</a>
    </div>

{{pass}}

<div id="vue-div" style="display:none">

<input type="text" placeholder="search terms" v-model="search_string"> </input>
<button class="btn btn-info" v-on:click="search_it"><i class="fa fa-search fa-lg"></i></button>

Point of Interest<input type="text" placeholder="Address or City" v-model="poi"> </input> <br/>


{{if listings == 'none':}}
        <div class="text-left">No listings yet</div>
{{else:}}
<h1>Listings</h1> <br/>
    <div v-for="l in listings">
        <div v-if="l.listing_type === 'housing'">
            <h3> ${l.title} </h3> <br/>
            Listing Type: housing, ${l.housing_type} <br/>
            By: ${l.name}<br/>
            Address: ${l.housing_available}<br/>
            Description: ${l.description}<br/>
            <span v-if="l.housing_type === 'swap' || l.housing_type === 'swap'">
                Budget: $${l.money_b}<br/>
            </span>
            <span v-if="l.housing_type === 'sell' || l.housing_type === 'swap'">
                Price: $${l.money}<br/>
            </span>
            <span v-if="l.housing_type === 'rent'">
                Budget per month: $${l.money_r}<br/>
            </span>
            <span v-if="l.housing_type === 'lease'">
                Price per month: $${l.money_l}<br/>
            </span>
            distance from POI: ${l.distance}<br/>
            <div v-if="l.email != null || l.phone != null">
                Contact Information   | ${l.email} | ${l.phone}
            </div>
            Posted on: ${l.created_on}
            <span v-if="l.picture_url != '/CommutersNetwork/default/default/download'">
                <img id="image" v-bind:src="l.picture_url" width="200px"/>
            </span>
        </div>

        <div v-if="l.listing_type === 'carpool'">
            <h3> ${l.title} </h3> <br/>
            Listing Type: carpool <br/>
            By: ${l.name}<br/>
            Starting Location: ${l.location_from}<br/>
            Ending Location: ${l.location_to}<br/>
            Mile Differential: ${l.mileage_difference}<br/>
            From: ${l.start_date}<br/>
            To: ${l.end_date}<br/>
            Start time: ${l.start_time} <br/>
            End time: ${l.end_time} <br/>
            Every:
            <span v-if="l.monday === true">
                Monday
            </span>
            <span v-if="l.tuesday === true">
                Tuesday
            </span>
            <span v-if="l.wednesday === true">
                Wednesday
            </span>
            <span v-if="l.thursday === true">
                Thursday
            </span>
            <span v-if="l.friday === true">
                Friday
            </span>
            <span v-if="l.saturday === true">
                Saturday
            </span>
            <span v-if="l.sunday === true">
                Sunday
            </span>
            <br/>
            Description: ${l.description}<br/>
            distance from POI: ${l.distance}<br/>
            <div v-if="l.email != null || l.phone != null">
                Contact Information   | ${l.email} | ${l.phone}
            </div>
            Posted on: ${l.created_on}
            <span v-if="l.picture_url != '/CommutersNetwork/default/default/download'">
                <img id="image" v-bind:src="l.picture_url" width="200px"/>
            </span>

        </div>

        <div v-if="l.listing_type === 'vehicles'">
            <h3> ${l.title} </h3> <br/>
            Listing Type: vehicles, ${l.v_type} ${l.ve_type} ${l.vbors} <br/>
            By: ${l.name}<br/>
            Price: $${l.v_price}<br/>
            Year: ${l.v_year}<br/>
            Model: ${l.v_model}<br/>
            Description: ${l.description}<br/>
            <div v-if="l.email != null || l.phone != null">
                Contact Information   | ${l.email} | ${l.phone}
            </div>
            Posted on: ${l.created_on}
            <span v-if="l.picture_url != '/CommutersNetwork/default/default/download'">
                <img id="image" v-bind:src="l.picture_url" width="200px"/>
            </span>
        </div>
        <span v-if="{{=auth.user_id}} === l.user_id">
            <i class="fa fa-trash-o" v-on:click="del_listing(l._idx)"></i>
        </span>


    </div>

{{pass}}

</div>


<script src="{{=URL('static', 'js/default_index.js')}}"></script>